{% extends "base.html" %}

{% block title %}Follower List{% endblock %}

{% block content %}
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <div class="table table-responsive">
          <table id='follower_list' class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th class="text-center" style="width: 50%">ユーザー</th>
                <th class="text-center" style="width: 50%">フォロー/アンフォロー</th>
              </tr>
            </thead>
            <tbody>
              {% for follower in follower_list %}
                <tr class="text">
                  <td class="text-center">{{ follower.username }}</td>
                  <td class="text-center align-middle">
                  {% if follower != request.user %}
                    {% if follower in following_by_login_user %}
                      <form action="{% url 'accounts:unfollow' follower.slug %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-danger btn-sm" name="button">
                          アンフォロー
                        </button>
                      </form>
                    {% else %}
                      <form action="{% url 'accounts:follow' follower.slug %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-primary btn-sm" name="button">
                          フォロー
                        </button>
                      </form>
                    {% endif %}
                  {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
